
__pycache__/config.cpython-37.pyc
.idea/Chess.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/bind.cpython-37.pyc
__pycache__/render.cpython-37.pyc
__pycache__/Test.cpython-37.pyc
bind.py
